.BlocoLogin{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 60%;
    background-color: #65B307;
    margin-left: auto;
    margin-right: auto;
    border-radius: 48px;
    border: 3px solid white;
  }
  .ImagemLogo{
    width: 50%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .Control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .InputUsuario{
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .Inputs{
    height: 100%;
    width: 75%;
    padding: 0px;
    margin: 0px 0px 0px auto;
    border-radius: 8px;
    border: 2px solid #83E509;
  }
  a{
    font-size: 20px !important;
  }
  .EsqSenha{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
  #BtnEntrar{
    margin-top: 50px;
    width: 42%;
    height: 32px;
    border-radius: 10px;
    border: 2px solid #83E509;
  }
  #BtnRegistrar{
    margin-top: 30px;
    width: 34%;
    height: 32px;
    border-radius: 10px;
    border: 2px solid #83E509;
  }
  